.container {
    background-color: aquamarine;
    height: 100vh;
    width: 207vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer {
    align-items: center;
    display: flex;
    height: 500px;
    width: 450px;
    background-color: darkblue;
    flex-direction: column;
    gap: 12px;
}

