.atividade1 {
    width: 350px;
    height: 350px;
    background-color:purple;
    margin: 50px;
    border-radius: 100%;
    border: 8px solid skyblue;
    border-style:dotted;
}

.quadrados{
    display: flex;
}

.atividade2 {
    width: 350px;
    height: 350px;
    background-color: deeppink;
    margin: 50px;
    border-radius: 25%;
    border: 8px solid skyblue;
}
.atividade3{
    width: 350px;
    height: 350px;
    background-color:skyblue ;
    margin: 50px;
    border: 8px solid deeppink;
    border-style:dashed;
    text-align:center;
    font-size: 50px;
    color: white;
}